In [107]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np
pd.set_option('display.max_columns', None)

In [108]:
df = pd.read_csv('dataset/randomset.csv', header = 0)

In [109]:
df

    feat_1  feat_2  target
0       28      15       0
1        1       2       0
2        1      12       1
3       16      11       1
4       10       4       0
5       27       4       0
6       20       3       1
7        7       2       1
8       25       6       0
9       26      10       1
10       8      12       1
11       8      12       1
12       4       6       0
13       2       8       0
14      23       2       1
15      25      15       0
16      30      15       0
17      25       3       1
18      10       8       0
19      16      13       1
20      23      10       0

In [110]:
len(df)

21

In [106]:
dataset = df.to_numpy()

In [97]:
def StratifiedKFold(dataset, k):
    """Stratified K-Folds cross-validator

    Parameters
    ----------
    dataset : array-like
        The data to fit. Can be, for example a list, or an array at least 2d.

    target : array-like, optional, default: None
        The target variable to try to predict in the case of
        supervised learning.

    k : int
        Determines the number of folds.


    print information:
        k = 3, dataset: X instances, P positive, N negative (P%, N%)

        Fold 0: pos: xx, neg: yy, total: cc, proportion: P%, N%
        ....

    """